/* .menu li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
} 
 */



.logo-wrapper {
    font-family: 'Gruppo', cursive;
    font-size: 28px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 3px;
    color: #FC5400;
}

/* .hamburger {
    color: black;
} */


.menu li a:hover {
    background: none;
    color: #FC5400;

}

.menu li a:focus {
    background: none;
    color: #FC5400;
}
