.secondary-btn {
    min-width: 9rem;
    /* padding: 11px 24px; */
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: #FC5400 !important;
    color: #fff;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.688rem 1.924rem;
    font-size: 0.9375rem;
    line-height: 1.5;
    border-radius: 0.125rem;
    transition: all .3s;
  }

  .secondary-btn:hover {
    background-color: #e05007 !important;
  }
  